<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nirmaan_bits.nirmaan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FirebaseHandler"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".recyclable"></activity>
        <activity android:name=".progress" />
        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service android:name=".Service.MyFirebaseSrevice">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".utkarsh" />
        <activity android:name=".utkarsh_aim" />
        <activity android:name=".utkarsh_semPlan" />
        <activity android:name=".utkarsh_members" />
    </application>

</manifest>